@import 'tailwindcss';

@font-face {
	font-family: 'craftmaps';
	src: url('/font.ttf') format('truetype');
}

:root {
	@apply bg-[#FF00FF] font-[craftmaps,sans] text-white;
	font-size: 16px;
	line-height: 1;
	font-smooth: never;
	image-rendering: pixelated;
	-webkit-font-smoothing: none;
}
* {
	text-decoration-thickness: calc(1rem / 7);
	text-underline-offset: calc(1rem / 7);
}

@theme {
	--color-*: initial;
	/* text colors */
	--text-color-black: #000000;
	--text-color-gold: #ffaa00;
	--text-color-gray: #3f3f3f;
	--text-color-light-gray: #c5c5c5;
	--text-color-blue: #5555ff;
	--background-color-text-blue: #5555ff;
	--text-color-green: #7efc20;
	--text-color-red: #df5050;
	--text-color-yellow: #ffff55;
	--text-color-white: #ffffff;

	--text-*: initial;
	--text-small: 0.75rem;
	--text-base: 1rem;
	--text-big: 1.5rem;

	--spacing: calc(1rem / 7);
	--text-shadow-*: initial;

	--default-border-width: theme(--spacing);
	--border-width-2: calc(theme(--default-border-width) * 2);
	--border-width-3: calc(theme(--default-border-width) * 3);
}

@utility bgc--generic {
	--bgc-width: calc(var(--spacing) * 4);
	border-image: url('-') 4 / var(--bgc-width) repeat;
	border-radius: calc(var(--bgc-width) * 2);
	padding: calc(var(--bgc-width) * 1.5);
}
@utility bgc--action {
	@apply bgc--generic;
	padding: calc(var(--bgc-width) / 8);
}
@utility bgc--nopad {
	@apply bgc--generic;
	border-radius: 0;
	padding: 0;
}
@utility bgc-action {
	@apply bgc--action;
	border-image-source: url('/borders/action.png');
	background-color: #a09172;
}
@utility bgc-actionfocus {
	@apply bgc--action;
	border-image-source: url('/borders/actionfocus.png');
	background-color: #7278a0;
}
@utility bgc-actionoff {
	@apply bgc--action;
	border-image-source: url('/borders/actionoff.png');
	background-color: #51493a;
}
@utility bgc-inset {
	@apply bgc--nopad;
	border-image-source: url('/borders/inset.png');
	background-color: #8b8b8b;
}
@utility bgc-insetlong {
	@apply bgc--nopad;
	border-image-source: url('/borders/insetlong.png');
	background-color: #373737;
}
@utility bgc-root {
	@apply bgc--generic;
	border-image-source: url('/borders/root.png');
	background-color: #c6c6c6;
}
@utility bgc-tooltip {
	@apply bgc--generic;
	border-image-source: url('/borders/tooltip.png');
	background-color: #100010;
}

@utility text-shadow {
	text-shadow: calc(var(--spacing) * 0.8) calc(var(--spacing) * 0.8) var(--text-color-gray);
}

::selection {
	@apply bg-text-blue text-white;
}
#app {
	@apply h-dvh;
}

@custom-variant poi (&:hover, &:focus-visible);

@utility input {
	@apply placeholder:text-light-gray;
	@apply focus-visible:!outline-none;
}
